CREATE TABLE F08V001 (
       F08VCODPRO           char(6) NOT NULL,
       F08VCODART           char(13) NOT NULL,
       F08VCODCOL           char(5) NOT NULL,
       F08VCODTAL           char(5) NOT NULL
)
go

ALTER TABLE F08V001
       ADD PRIMARY KEY (F08VCODPRO, F08VCODART, F08VCODCOL, F08VCODTAL)
go

